.formWrap {
	border-radius: 25px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.buttonWrap {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}
}
